*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8F43EE;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 32vw;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all 0.25s ease-out;
}

.titleWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15vh;
    width: 85%;
    position: relative;
    top: 8%;
}

.title{
    font-size: 19px;
    font-weight: 600;
    margin-left: 1.25rem;
}

.titleWrapper input{
    width: 95%;
    height: 35%;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-left: 0.7rem;
    padding: 1rem;
}
.titleWrapper input:focus{
    outline: none !important;
}

.notesWrapper{
    width: 80%;
    height: 38vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top:12%;
}
.notesWrapper::-webkit-scrollbar{
    width: 0px !important;
}
.notesInput{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: left;
    overflow-y: hidden;
}
.notesInput:focus{
    outline: none !important;
}
.notesInput::-webkit-scrollbar{
    width: 0 !important;
}

.closeBtn{
    position: absolute;
    top:3vh;
    right: 3vw;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.closeBtn:hover{
    transform: scale(0.90);
}

.actionBtns{
    position: absolute;
    bottom: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createBtn{
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(45, 148, 251);
    transition: all 0.25s ease-in-out;
}
.createBtn:hover{
    transform: scale(0.95);
}
.deleteBtn{
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: red;
    display: flex;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
.deleteBtn:hover{
    transform: scale(0.95);
}
.deleteBtn img{
    margin-right: 8px;
}