*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8F43EE;
    --bg-container: #f6f6f6;
}

.contentWrapper{
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 4vh 2vw;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}

.tasksWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 100%;
    position: relative;
    
}

.tasksTitle{
    padding: 0rem 1rem;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 0;
    top:0;
}

.tasksContainer{
    width: 30vw;
    height: 92%;
    border-radius: 12px;
    background-color: var(--bg-container);
    position: relative;
    top:1rem;
    scroll-behavior: smooth;
    padding: 0.5rem 1rem;
}

.tasksContainer::-webkit-scrollbar { width: 0 !important }


.ntWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28vw;
    height: 100%;
}

.notesWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26vw;
    height: 48%;
    position: relative;
}
.notesTitle{
    position: relative;
    left: -35%;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}
.notesContainer{
    background-color: var(--bg-container);
    border-radius: 12px;
    width: 24vw;
    height: 85%;
    scroll-behavior: smooth;
    padding: 0.5rem 1rem;
}
.notesContainer::-webkit-scrollbar { width: 0 !important }

.trackWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26vw;
    height: 48%;
    position: relative;
}

.trackTitle{
    position: relative;
    left: -35%;
    top:0;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}


.trackContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-container);
    border-radius: 12px;
    width: 24vw;
    height: 85%;
    scroll-behavior: smooth;
}

.profileWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 24vw;
    height: 100%;
    position: relative;

}

.profileWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 22vw;
    height: 47%;
    position: relative;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 85%;
    position: relative;
    background-color: var(--bg-container);
    border-radius: 12px;
}
.pfImg{
    position: absolute;
    top:1rem;
    border-radius: 30px;
    z-index: 2;
    cursor: pointer;
    border: 8px solid white;

}
.profileContainer .pfName{
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 1rem;
}

.pfProfession{
    font-size: 14px;
    font-weight: 500;
    color: rgb(93, 93, 93);
    position: relative;
}
.pfdate{
    color: var(--theme);
    font-size: 32px;
    font-weight: 500;
}

.pfday{
    color: var(--theme);
    font-size: 26px;
    font-weight: 500;
    position: relative;
    top: -1rem;
}
.pfLegend{
    font-size: 18px;
    font-weight: 500;
    color: #1D8FF9;
}
.messageConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 22vw;
    height: 50%;
    position: relative;
}
.notiWrap{
    display: flex;
    align-items: center;
    width: 90%;
}
.notiWrap ion-icon{
    font-size: 20px;
    margin: 0rem 1rem;
}
.msgTitle{
    font-size: 18px;
    font-weight: 500;
    margin: 0 4px;
}
.msgSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 85%;
    position: relative;
    border-radius: 12px;
    background-color: var(--bg-container);
}