*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menuBarWrap{
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 100vh;
    padding: 0.5rem;
    border: 1px solid rgb(213, 213, 213);
    position: relative;
    transition: all 0.25s ease-in;
}

.CloseSideBar{
    width: 4vw;
    transition: all 0.25s ease-out;
}

.ToggleBarWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 14vw;
    height: 7vh;
    overflow: hidden;
    transition: all 0.25s ease-in;
    position: relative;
    left: 0.8rem;
}

.closedToggleBarWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7vw;
    height: 7vh;
    overflow: hidden;
    transition: all 0.25s ease-in;
    position: relative;
    left: 0.8rem;
}

.toggleBtn{
    cursor: pointer;
}
.brand{
    margin: 0rem 0rem 0rem 1.25rem;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.25s ease-in;
}
.brand span{
    color: #8F43EE;
}

.menuWrap{
    width: 13vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    top: -3vh;
    transition: all 0.25s ease-in-out;
}
.menuWrap a{
    text-decoration: none;
    border-radius: 16px;
}

.menuWrap a:hover {
    background-color: #eeeeee;
  }


.modesWrap{
    position: absolute;
    bottom: 2rem;
    width: 12vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.25s ease-in;
}
.modesWrap ion-icon{
    font-size: 24px;
    margin: 0rem 1rem;
    cursor: pointer;
}

.closeModeWrap{
    position: absolute;
    bottom: 2rem;
    width: 3vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.25s ease-out;
}

.closeModeWrap ion-icon{
    font-size: 22px;
    margin: 0rem 1rem;
    cursor: pointer;
}
