*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8e42ec;
}

.mainContainer{
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Label{
    font-size: 18px;
    font-weight: 500;
    margin: 0.5rem 0rem;
}

.inputWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.inputWrapper input{
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #EFEFEF;
    padding: 1rem;
}
.inputWrapper input:focus{
    outline: none !important;
}
.inputWrapper ion-icon{
    font-size: 18px;
    color:#8e42ec;
    position: absolute;
    right:1rem;
}

.error{
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 60, 60);
    margin: 6px 10px;
}