* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

 .itemWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 3vw;
    cursor: pointer;
    border-radius: 10px;
    overflow-x: hidden;
    transition: all 0.25s ease-in;
  }

  .shrinkWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13.5vw;
    cursor: pointer;
    border-radius: 10px;
    overflow-x: hidden;
  }
  
  ion-icon {
    font-size: 20px;
    color: #8F43EE;
    margin-left: 1rem;
  }
  
  .menuLink{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 0.5rem;
    margin-left: 1.25rem;
  }