*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8F43EE;
    --bg-container: #f4f4f4;
}

.notesContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 2vw;
    position: relative;

}

.notesWrapper{
    width: 100%;
    height: 100%;
    background-color: var(--bg-container);
    border-radius: 12px;
    position: relative;
}

.notesWrapper ion-icon{
    position: absolute;
    bottom: 3rem;
    right:3rem;
    font-size: 44px;
    background-color: var(--theme);
    color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px #bf8afc;
    background-color: #8F43EE;
    border-radius: 24px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    
}
.notesWrapper ion-icon:hover{
    transform: scale(0.9);
}