*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8F43EE;
    --bg-container: #f8f8f8;
}

.ChecklistContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 2vw;
    position: relative;

}

.ChecklistWrapper{
    width: 100%;
    height: 100%;
    background-color: var(--bg-container);
    border-radius: 12px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(34vh, 1fr));
    padding: 2rem 1rem;
    gap: 1rem;
}
.ChecklistWrapper::-webkit-scrollbar{
    width: 0 !important;
    
}

.ChecklistWrapper ion-icon{
    position: absolute;
    bottom: 3rem;
    right:3rem;
    font-size: 44px;
    background-color: var(--theme);
    color: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px #bf8afc;
    background-color: #8F43EE;
    border-radius: 24px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    
}
.ChecklistWrapper ion-icon:hover{
    transform: scale(0.9);
}

.AddFAB{
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.AddFAB:hover{
    transform: scale(0.92);
}

.addCheclistOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
}

.close{
    display: none;
}