*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme :#8F43EE;
    --bg-container: #f4f4f4;
}

.ccWrapper{
    width: 15vw;
    height: 34vh;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: #c3ff82;
    box-shadow: 2px 2px 20px rgb(232, 232, 232);
    cursor: pointer;
}

.ccTitle{
    font-size: 18px;
    font-weight: 600;
    margin: 0rem 0rem;
    color: #181818;
}
.ccDesc{
    font-size: 13px;
    width: 11vw;
    margin: 0rem 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ccSubwrap{
    display: flex;
    align-items: center;
    width: 11vw;
}

.ccSub{
    font-size: 14px;
    font-weight: 500;
    margin: 0rem 1rem;
}
.reminder{
    display: flex;
    align-items: center;
    width: 11vw;
}
.ccRdate{
    font-size: 13.5px;
    margin: 0rem 1rem;
    font-weight: 500;
}

.created{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11vw;
}
.cDate{
    font-size: 13px;
    margin: 0rem 0rem;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 6px;
    font-weight: 500;
}